.anchor {
    vertical-align: middle;
    font-size: 0.7em;
}

.anchor:hover,
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline;
    text-decoration: none;
}

figure.centered {
    text-align: center;
}

figure > iframe {
    max-width: 100%;
}

figure > a {
    display: inline-block;
}
